<nav class="navbar">
    <div class="logo">
        <span>WeatherInfo</span>
    </div>
    <div class="menu">
        <ul class="list">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./weather.html">Weather</a></li>
        </ul>
    </div>
</nav>